<form action="/create" method="POST">
    <h2>Create todo</h2>
    <div class="input-field">
        <input id="first_name" type="text" name="title">
        <label for="first_name">Todo title</label>
    </div>
    <button type="submit" class="btn">Create</button>
</form>